<header class="masthead">
  <ul class="language-nav">
      <a>CSS</a>
      <a>HTML</a>
      <a>Javascript</a>
      <a>Ruby</a>
  </ul>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="not img">
  <ul class="masthead-links">
    <li><button>Tuesday, October 18, 2016</button></li>
    <li><i class="fas fa-newspaper"></i><button>Today’s Paper</button></li>
    <li><i class="fas fa-video"></i><button>Video</button></li>
    <li><button>77°F</button></li>
    <li><button>AAO <strong>+100%</strong></button></li>
  </ul>

</header>
